*{box-sizing: border-box;}

:root{
    --black: #0a0a0a;
    --blue: #375BA9;
    --orng: #FCA311;
    --plat: #E5E5E5;
    --white: #fff;
    --primText: 'Major Mono Display', monospace;
    --secText: 'Share Tech Mono', monospace;
}

body{
    margin: 0;
    padding: 0;
}

/* main{
    height: 100vh;
} */

footer{
    margin-top: 10px;
}

/* header */

.header{
    background: var(--black);
    color: var(--plat);
    border-bottom: 10px solid var(--blue);
    box-shadow: 0 6px 6px var(--orng);
}

.title, .welcome{
    font-family: var(--primText);
}

.title a{
    text-decoration: none;
    color: var(--plat);
}

.welcome{
    font-size: 24px;
}

.nav-list{
    font-family: var(--secText);
    font-size: 20px;
}

.nav-list a{
    color: var(--plat)
}
.nav-list a:hover{
    color: #FCA311;
}

/* close header */

/* main */

.main{
    margin-block: 12px;
}

.preview-section{
    margin-block: 30px;
}

.preview-box{
    width: 300px;
    height: 300px;
    /* border: 1px solid #000; */
}


.greeting-primary{
    font-family: var(--secText);
}

.greeting-secondary{
    padding-block: 100px;
    font-family: var(--primText);
}

.product-row{
    padding-block: 4px;
}

.curio-card{
    border: 0;
    font-family: var(--secText);
}

.signin-form{
    border: 1px solid var(--plat);
    border-radius: 10px;
    padding: 40px 20px;
}

.product{
    color: var(--black)
}

.product-name, .related-product-header{
    font-family: var(--secText);
}

.related-products-row{
    margin-top: 60px;
}

.product-other{
    margin-block: 10px;
}

.curio-page{
    height: 60vh;
}

.curio-info{
    border-radius: 0;
}

.curio-info-type{
    margin-block: 10px;
    border: none;
    box-shadow: 4px 4px 10px var(--blue);
}

/* close main */

/* footer */

.footer{
    margin-top: 30px;
    padding-block: 21px;
    background: var(--black);
    color: var(--plat);
    border-top: 6px solid var(--blue);
    box-shadow: 0 -2px 6px var(--orng);
}

.footnote-section{
    padding-block: 20px;
}

.colophon-section{
    border-top: 1px solid var(--orng);
    margin-top: 30px;
}

.colophon{
    font-family: var(--primText);
}

.logo{
    /* padding-block: 50px; */
    font-family: var(--primText);
    font-size: 100px;
}

.signin-btn{
    margin-block: 10px;
}